html, body {
    overflow-x: hidden;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: color('black');
    background-color: color('white');

    @include fs16(400);
}

.wrapper {
    max-width: $wrapper-width;
    margin-inline: auto;
}

button {
    color: inherit;
}

img {
    @include image();
}

[x-cloak] {
    display: none !important;
}
