@mixin btn-primary() {
    text-align: center;
    font-family: "SemiBold";
    font-size: vw(16px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: vw(0.08px);
    padding: vw(9.5px) vw(33px);
    background-color: color('green');
    color: color('white');
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    width: max-content;
    display: block;
    cursor: pointer;

    @include hover() {
        background-color: color('green', 'light');
    }
}


@mixin btn-large() {
    text-align: center;
    font-family: "SemiBold";
    font-size: vw(16px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: vw(0.08px);
    padding: vw(18px) vw(33px);
    background-color: color('green');
    color: color('white');
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    width: max-content;
    display: block;
    cursor: pointer;

    @include hover() {
        background-color: color('green', 'light');
    }
}
