.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: vw(58px) vw(116px);
    background-color: color("green", "extra-light");
}

.footer__logo {
    width: vw(193px);
    height: vw(74px);
    flex-shrink: 0;

    img {
        @include image();
    }
}

.footer__content {
    position: relative;
    width: vw(166px);
    flex-shrink: 0;
}

.footer__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vw(10px);
}

.footer__icon {
    width: vw(30px);
    height: vw(30px);
    flex-shrink: 0;
    display: block;

    svg {
        @include image();
    }
}

.footer__copyright {
    position: absolute;
    bottom: -200%;
    width: max-content;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    color: color("green");
    @include fs15();
}


.footer__ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: vw(335px);
    row-gap: vw(13px);
    a {
        color: color("gray", "light");
        transition: color 0.3s ease;
        @include fs15();

        @include hover() {
            color: color("green");
        }
    }

    .footer__link--active {
        color: color("green", "light");
    }
}
