.coupling {
    padding: vw(58px) vw(92px) vw(163px);


    .gens__title {
        text-align: center;
        margin-bottom: vw(42px);
        @include fs36();
    }

    .gens__params {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: vw(68px);
        margin-inline: auto;
        margin-bottom: vw(46px);

    }

    .gens__warning {
        font-size: vw(20px);
        color: color('green');
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: vw(46px);
    }

    .gens__underline {
        text-decoration: underline;
        text-underline-offset: 0.2em;
    }

    .gens__button {
        margin-inline: auto;
        margin-bottom: vw(53px);
        @include btn-primary();
    }

    .gens__param {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        gap: vw(10px);

        @include fs16(400);
    }


    .gens__select {
        border: vw(1px) solid color('gray');
        border-radius: 0.3em;
        background-color: color('green', 'extra-light');
        cursor: pointer;
        padding: 0.3em 0.75em;
        text-transform: uppercase;
        @include fs16(400);

    }

    .gens__select-wrapper {
        width: 100%;
        border: vw(1px) solid color('gray');
        border-radius: 0.3em;
        background-color: color('white');
        padding: 0.3em 0.75em;
        display: inline-flex;
        align-items: center;
        gap: vw(5px);
        margin-bottom: vw(15px);

        img {
            flex-shrink: 0;
            width: vw(20px);
            height: vw(20px);
        }

        select {
            cursor: pointer;
            width: 100%;
            background-color: color('white');
            @include fs16(400);
        }
    }

    .gens__param--popup {
        position: relative;

    }

    .gens__copy-message {
        position: absolute;
        top: vw(20px);
        right: -2%;
        background-color: #fff;
        padding: 0.3em 0.5em;
        border-radius: 0.5em;
        border: vw(1px) solid color('green');
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }


    .gens__table {
        display: flex;

        & > * {
            flex: 1;
        }
    }

    .gens__column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > * {
            flex: 1;
        }
    }

    @include nth-flex(8);

    .gens__item {
        height: max-content;
        display: grid;
        place-content: center;
        padding: vw(10px);
        border: vw(1px) solid color('gray');
        background-color: color('green', 'extra-light');

        & > * {
            margin-inline: auto;
        }
    }

    .gens__image {
        aspect-ratio: 1/1;
        max-width: 80%;
        img {
            @include image();
        }
    }

    .gens__name {
        margin-top: 0.3em;
        text-transform: uppercase;
        @include fs16();
    }

    .gens__name--link {
        text-decoration: underline;
        text-underline-offset: 0.2em;
    }


    .gens__breed {
        text-align: center;
        text-align: balance;
        height: vw(45px);
        @include fs16(400);
    }


    .gens__breed--hidden {
        color: transparent;
    }

}
