.user-household-card {
    padding: vw(58px) vw(92px) vw(163px);

    .info {
        display: flex;
        align-items: flex-start;
        gap: vw(122px);
        margin-bottom: vw(108px);
    }

    .info__visual {
        flex-basis: vw(467px);
    }

    .info__snapshot {
        aspect-ratio: 1/1;
        margin-bottom: vw(19px);
        img {
            @include image();
        }
    }


    .info__data {
        flex-basis: vw(639px);
        display: grid;
        gap: vw(10px);
    }

    .info__item {
        display: flex;
        align-items: flex-start;
        gap: vw(49px);

        & > * {
            flex: 1;
        }
    }

    .info__property {
        text-transform: uppercase;
        @include fs16();
    }

    .info__value {
        @include fs16(400);
    }

    .list__title {
        text-align: center;
        margin-bottom: vw(55px);
        @include fs32();
    }

    .list__table {
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;

        thead {
            background-color: color('green', 'light');

        }


        th {
            border: vw(1px) solid color('gray');
            text-transform: uppercase;
            padding: 0.2em;
            @include fs20('Bold');
        }

        td {
            border: vw(1px) solid color('gray');
            max-width: vw(314px);
            padding: 0.2em;
            text-align: center;

            @include fs20('Regular');
        }

        tbody {
            th {
                width: vw(30px);
                height: vw(30px);

                img {
                    @include image();
                }
            }
        }
    }
}
