.user-partners {
    // News Section

    .news {
        padding: vw(51px) vw(122px) vw(97px);
    }

    .news__add {
        @include btn-primary();
    }

    .news__categories {
        margin-block: vw(38px) vw(55px);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: vw(34px);
    }

    .news__title {
        margin-inline: auto;
        text-align: center;
        width: vw(900px);
        margin-bottom: vw(46px);
        @include fs36();
    }

    .news__subtitle {
        margin-inline: auto;
        text-align: center;
        display: block;
        width: vw(552px);
        margin-bottom: vw(48px);
        @include fs16(400);
    }

    .news__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: vw(38px);
        row-gap: vw(69px);
    }

    .news__item {
        padding: vw(22px);
        position: relative;

        background-color: color("green", 'extra-light');

        flex: 1 0 32%;
        border: vw(1px) solid color("gray", "extra-light");
    }

    .news__delete-button {
        position: absolute;
        background-color: color("red");
        right: 0;
        top: 0;
        width: vw(34px);
        aspect-ratio: 1/1;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            aspect-ratio: 1/1;
            width: vw(24px);
            object-fit: contain;
        }
    }

    .news__edit-link {
        position: absolute;
        background-color: color("green");
        right: vw(34px);
        top: 0;
        width: vw(34px);
        aspect-ratio: 1/1;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            aspect-ratio: 1/1;
            width: vw(20px);
            object-fit: contain;
        }
    }

    .news__content {
        padding: 0 vw(16px);
        text-align: center;

    }

    .news__image {
        width: vw(324px);
        height: vw(252px);
        margin-bottom: vw(16px);
        background-color: #fff;
        position: relative;
        display: block;
        img {
            @include image();
        }
    }

    .news__heading {
        margin-bottom: vw(10px);
        @include fs24();
    }

    .news__description {
        margin-bottom: vw(10px);
        @include fs16(400);
    }
}
