.news__textarea.editor {
    border: vw(1px) solid color("gray", "extra-light");
    min-height: vw(300px);
    font-size: vw(16px);
}

.admin-edit-news {
    padding: vw(58px) vw(92px) vw(59px);

    .edit-news {
        display: flex;
        align-items: flex-start;
        gap: vw(82px);
        margin-bottom: vw(105px);

        & > * {
            flex: 1;
        }
    }

    .edit-news__visual {
        flex-basis: vw(467px);
    }

    .edit-news__snapshot {
        aspect-ratio: 1/1;
        margin-bottom: vw(19px);
        position: relative;
        img {
            @include image();
        }

        label {
            cursor: pointer;
        }

        input {
            display: none;
        }

        &::after {
            content: "загрузить фото";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            text-decoration: underline;
            pointer-events: none;
            @include fs24();
        }
    }

    .edit-news__data {
        flex-basis: vw(639px);
        display: grid;
        gap: vw(10px);

        input {
            width: vw(639px);
            border: vw(1px) solid color("gray", "extra-light");
            padding: 0.3em;
            @include fs16(400);
        }

        textarea {
            width: 100%;
        }

        .ck-editor {
            width: vw(639px);
        }
    }

    .edit-news__item {
        display: flex;
        align-items: flex-start;
        gap: vw(49px);

        & > * {
            flex: 1;
        }
    }

    .edit-news__property {
        text-transform: uppercase;
        @include fs16();
    }

    .edit-news__value {
        @include fs16(400);
    }

    .edit-news__label-title {
        @include fs36();
    }

    .edit-news__label-edit {
        @include fs16();
    }

    .edit-news__checkboxes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: vw(35px);

        label {
            text-transform: uppercase;
            @include fs16();
        }

        .edit-news__checkbox-label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: vw(5px);
            display: grid;
            grid-template-columns: 1em auto;
            gap: 1em;
            @include fs16(400);

            input {
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                font: inherit;
                color: currentColor;
                width: 1.5em;
                height: 1.5em;
                border: 0.1em solid color("gray");
                border-radius: 0.15em;
                display: grid;
                place-content: center;
                cursor: pointer;

                &::before {
                    content: "";
                    width: 0.85em;
                    height: 0.85em;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1em 1em #000;
                    transform-origin: bottom left;
                    clip-path: polygon(
                        14% 44%,
                        0 65%,
                        50% 100%,
                        100% 16%,
                        80% 0%,
                        43% 62%
                    );
                }
                &:checked::before {
                    transform: scale(1);
                }
            }
        }
    }

    .edit-news__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: vw(29px);
        margin-top: vw(51px);

        button {
            flex-basis: vw(213px);
        }
    }

    .edit-news__publish-btn {
        text-transform: uppercase;
        @include btn-large();
    }

    .edit-news__delete-btn {
        text-transform: uppercase;
        transition: opacity 0.3s ease;
        @include btn-large($bg: color("red"));

        @include hover() {
            background-color: color("red");
            opacity: 0.6;
        }
    }

    .edit-news__error {
        color: red;
        display: block;
        margin-inline: auto;
        margin-top: 0.5em;
        width: max-content;
        @include fs15();
    }
}
