
.admin-news-show {
    // News Piece

    .piece {
        padding: vw(51px) vw(122px) 0;
        min-height: vw(600px);
        p {
            max-width: 100%;
            margin-block: 0.75em;
            @include fs16(400);
        }
    }

    .piece__title {
        margin-bottom: 0.75em;
        @include fs36();
    }

    .piece__image {
        width: vw(550px);
        height: vw(550px);
        float: right;
        margin: 0 0 vw(50px) vw(50px);

        img {
            @include image();
        }
    }

    // News Section

    .news {
        padding: vw(73px) vw(122px) vw(97px);
    }

    .news__headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: vw(61px);
    }

    .news__title {
        color: color("black");
        @include fs36();
    }

    .news__btn {
        @include btn-large();
    }

    .news__btn--edit {
        margin-bottom: vw(41px);
        text-transform: uppercase;
        margin-inline: auto;
    }

    .news__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: vw(20px);
    }

    .news__item {
        flex: 1 0 32%;
        border: vw(1px) solid color("gray", "extra-light");
        background-color: color("white");
    }

    .news__content {
        padding: 0 vw(16px);
    }

    .news__image {
        position: relative;
        margin-bottom: vw(16px);
        height: vw(280px);
        img {
            @include image();
        }
    }

    .news__heading {
        margin-bottom: vw(25px);
        @include fs24();
    }

    .news__description {
        margin-bottom: vw(25px);
        @include fs16(400);
    }

    .news__label {
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        padding: vw(7px) vw(15px);
        width: min-content;
        background-color: color("green");
        color: color("white");
        @include fs12();
    }
}
